* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: $grey-30;
  color: $grey-90;
  font-family: 'Roboto Slab', serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  width: 100%;
  max-width: 56.25rem;
  margin: 0 auto;
}

button {
  border: none;
  outline: 0;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}
