.decision {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: $fast-transition;

  &.is-visible {
    pointer-events: initial;
    opacity: 1;
  }

  &-button {
    background-color: $grey-80;
    color: $white;
    height: 2.5rem;
    min-width: 8.125rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.0313rem;
    box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba($black, 0.2),
      0rem 0.125rem 0.125rem 0 rgba($black, 0.14),
      0 0.0625rem 0.3125rem 0rem rgba($black, 0.12);
    transition: $fast-transition;

    &:hover {
      background-color: $black;
      box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba($black, 0.2),
        0 0.25rem 0.3125rem 0rem rgb($black, 0.14),
        0 0.0625rem 0.625rem 0rem rgb($black, 0.12);
    }
  }

  @media (min-width: $mobile) {
    gap: 2.5rem;

    &-button {
      min-width: 8.75rem;
    }
  }
}
