.decision {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
  opacity: 0;
  pointer-events: none;
  transition: $fast-transition;

  &.is-visible {
    pointer-events: initial;
    opacity: 1;
  }

  &-button {
    background-color: $grey-80;
    color: $white;
    height: 40px;
    min-width: 130px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 0px 3px 1px -2px rgba($black, 0.2),
      0px 2px 2px 0px rgba($black, 0.14), 0px 1px 5px 0px rgba($black, 0.12);
    transition: $fast-transition;

    &:hover {
      background-color: $black;
      box-shadow: 0px 2px 4px -1px rgba($black, 0.2),
        0px 4px 5px 0px rgb($black, 0.14), 0px 1px 10px 0px rgb($black, 0.12);
    }
  }

  @media (min-width: $mobile) {
    gap: 40px;

    &-button {
      min-width: 140px;
    }
  }
}
