.mainTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: 0.0625rem;
  margin: 0.5rem 0 0;

  &-ornament {
    display: inline-block;
    width: 2rem;
    height: 0.0625rem;
    background-color: $grey-70;
    margin: 0 1rem;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: calc(100% + 1rem);
      height: 0.0625rem;
      background-color: $grey-70;
    }
    &::before {
      top: -0.25rem;
    }
    &::after {
      top: 0.25rem;
    }

    &:first-child {
      &::before,
      &::after {
        right: 0;
      }
    }

    &:last-child {
      &::before,
      &::after {
        left: 0;
      }
    }
  }

  @media (min-width: $mobile) {
    margin: 1rem 0 0;
    font-size: 2rem;

    &-ornament {
      width: 3rem;
      &::before,
      &::after {
        width: calc(100% + 1.5rem);
      }
    }
  }
}
