.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 200px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
    border: double $grey-70 0;
    border-radius: 15px;
    transition: $fast-transition;
  }

  &.is-selected {
    &::after {
      padding: 10px;
      opacity: 1;
      border-width: 5px;
    }
  }

  &.is-revealed {
    .card-inner {
      transform: rotateY(180deg);
    }
  }

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    border: solid 10px $white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }

  &-front,
  &-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }

  &-front {
    z-index: 1;
    opacity: 0.8;
    background: linear-gradient(
          135deg,
          rgba($grey-90, 0.5) 25%,
          transparent 25%
        ) -10px 0/ 20px 20px,
      linear-gradient(225deg, $grey-90 25%, transparent 25%) -10px 0/ 20px 20px,
      linear-gradient(315deg, rgba($grey-90, 0.5) 25%, transparent 25%) 0px 0/ 20px
        20px,
      linear-gradient(45deg, $grey-90 25%, $grey-30 25%) 0px 0/ 20px 20px;
    border-radius: 5px;
  }

  &-interrogationBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: $white;
    border-radius: 50%;
    font-size: 50px;
    color: $grey-90;
  }

  &-back {
    transform: rotateY(-180deg);
    z-index: 2;
    background-color: $white;
  }

  &-image {
    width: 100%;
    max-width: 70px;
    height: auto;
  }
}
