.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;

  &.is-gameStarted {
    .card {
      cursor: initial;
      pointer-events: none;
    }
  }
}
