// .card {
//   width: 260px;
//   height: 400px;
//   border-radius: 20px;
//   border: solid 20px $white;
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
//     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
//   background-color: $white;
//   perspective: 1000px;
//   transform-style: preserve-3d; // required
//   transition: all 0.8s ease;

//   &-inner {
//     position: relative;
//     width: 100%;
//     height: 100%;
//   }

//   &:hover {
//     transform: rotateY(-180deg);
//   }

//   &-front,
//   &-back {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     border-radius: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   &-front {
//     z-index: 1;
//     background-color: $primary-light;
//     opacity: 0.8;
//     background: linear-gradient(
//           135deg,
//           rgba($primary, 0.5) 25%,
//           transparent 25%
//         ) -10px 0/ 20px 20px,
//       linear-gradient(225deg, $primary 25%, transparent 25%) -10px 0/ 20px 20px,
//       linear-gradient(315deg, rgba($primary, 0.5) 25%, transparent 25%) 0px 0/ 20px
//         20px,
//       linear-gradient(45deg, $primary 25%, $primary-light 25%) 0px 0/ 20px 20px;
//   }

//   &-interrogationBadge {
//     width: 80px;
//     height: 80px;
//     background-color: $white;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 70px;
//     color: $primary;
//   }

//   &-back {
//     z-index: 2;
//     background-color: $white;
//   }
// }

:root {
  --cardW: 250px;
  --cardH: 350px;
  --fontFam: 'Open Sans', sans-serif;
  --color1: #212534;
  --color2: #fff;
  --color3: #191c29;
}

body {
  background-color: var(--color1);
}

// Mixins
@mixin contentFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin fullHW {
  width: 100%;
  height: 100%;
}
@mixin frontCardStyle($val) {
  background-color: $val;
}
@mixin boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.55) 0px -2px 6px 0px inset;
}

// Flipcard styles
.flipcards {
  @include contentFlex;
  height: 90vh;
  gap: 3em;
  font-family: var(--fontFam);

  .flipcard {
    @include contentFlex;
    text-align: center;
    width: var(--cardW);
    height: var(--cardH);
    border-radius: 10px;

    perspective: 1000px;
    box-shadow: 0;

    &:hover .flipcard__inner {
      transform: rotateY(-180deg);
      @include boxShadow;
    }

    &__inner {
      position: relative;
      @include fullHW;

      transform-style: preserve-3d; // required
      transition: all 0.8s ease;

      .__front,
      .__back {
        position: absolute;
        @include fullHW;
        @include contentFlex;

        /* Safari */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        border-radius: 0.5em;

        overflow: hidden;
        background-color: var(--color2);
      }

      .__front {
        z-index: 1;
        flex-flow: column;
        border: 3px solid cyan;

        @include frontCardStyle(var(--color3));

        * {
          margin: 0;
        }
      }

      .__back {
        transform: rotateY(-180deg);
        z-index: 2;

        p {
          font-size: 3em;
        }
      }
    }
  }
}
