.card {
  width: 260px;
  height: 400px;
  border-radius: 20px;
  border: solid 20px $white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: $white;

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  &-front {
    background-color: $primary-light;
    opacity: 0.8;
    background: linear-gradient(135deg, $primary-dark 25%, transparent 25%) -10px
        0/ 20px 20px,
      linear-gradient(225deg, $primary 25%, transparent 25%) -10px 0/ 20px 20px,
      linear-gradient(315deg, $primary-dark 25%, transparent 25%) 0px 0/ 20px 20px,
      linear-gradient(45deg, $primary 25%, $primary-light 25%) 0px 0/ 20px 20px;
  }
}
