.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.875rem;

  &.is-gameStarted {
    &::before,
    &::after {
      animation-play-state: paused;
    }
  }

  &-text {
    text-align: center;
    letter-spacing: 0.375rem;
    color: $black;
  }

  &::before,
  &::after {
    content: '';
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius: 50%;
    background-color: $black;
    animation-play-state: running;
  }

  &::before {
    animation: bullet-left 1.5s infinite alternate ease-out;
  }

  &::after {
    animation: bullet-right 1.5s infinite alternate ease-out;
  }

  @keyframes bullet-left {
    0% {
      margin-right: 1.25rem;
    }
    100% {
      margin-right: 2.5rem;
    }
  }

  @keyframes bullet-right {
    0% {
      margin-left: 0.8125rem;
    }
    100% {
      margin-left: 2.0625rem;
    }
  }

  @media (min-width: $mobile) {
    font-size: 1rem;
  }
}
