.result {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  opacity: 0;
  pointer-events: none;
  transition: $fast-transition;
  font-size: 14px;
  color: $black;
  letter-spacing: 2px;

  &.is-visible {
    pointer-events: initial;
    opacity: 1;
  }

  &-textWin,
  &-textLose {
    display: flex;
    align-items: center;
    &::before,
    &::after {
      display: inline-block;
      transform: rotate(90deg);
      padding: 0 20px;
      font-size: 18px;
    }
  }
  &-textWin {
    &::before,
    &::after {
      content: ':)';
    }
  }
  &-textLose {
    &::before,
    &::after {
      content: ':(';
    }
  }
}
