.stats {
  padding: 16px;
  border: solid 1px $black;
  border-radius: 10px;
  max-width: 264px;
  font-size: 12px;
  position: relative;
  margin: 0 auto;
  margin-top: 32px;

  &-mainTitle {
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $grey-30;
    padding: 0 16px;
    letter-spacing: 2px;
    font-size: 14px;

    &::before,
    &::after {
      content: '';
      width: 1px;
      height: 10px;
      background-color: $black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &-secondaryTitle {
    letter-spacing: 1px;
    margin-bottom: 4px;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 4px;
      border-top-width: 4px;
      border-left: 4px solid $black;
      display: inline-block;
      margin-right: 4px;
    }
  }

  &-barWrapper {
    width: calc(100% - 8px);
    height: 36px;
    background-color: rgba($white, 0.5);
    margin-left: 8px;
    border-radius: 3px;
  }

  &-bar {
    min-width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    margin: 8px 0;
    padding: 0 8px;
    transition: $fast-transition;
    border-radius: 3px;
  }
}
