@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
    url('../../fonts/RobotoSlab-Regular.woff') format('woff'),
    url('../../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('../../fonts/RobotoSlab-Bold.woff2') format('woff2'),
    url('../../fonts/RobotoSlab-Bold.woff') format('woff'),
    url('../../fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-display: swap;
}
