// Colors
$white: #fff;
$grey-10: #f8f9fa;
$grey-20: #f8f9fa;
$grey-30: #dee2e6;
$grey-40: #ced4da;
$grey-50: #adb5bd;
$grey-60: #6c757d;
$grey-70: #495057;
$grey-80: #343a40;
$grey-90: #212529;
$black: #000;

// Transitions
$fast-transition: 300ms ease;

// Media queries
$mobile: 37.5rem;
